body {
    background-image: url(https://fbi.cults3d.com/uploaders/13873179/illustration-file/c3306cdf-1046-45da-a0ec-9e39f87ce209/ARASAKA%20RENDER%202.jpg);
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    margin: 0;
    background-position: center;
}